/target
/.tmp
build_rs_cov.profraw
TODO

!gitignore_tests.rs
!gitignore_tests.toml
!gitignore_tests.go
!src/scanner/gitignore_tests
!gitignore_tests*


*gitignore_*
*_gitignore*

*local.json
.sloc-guard-*.json

.cursor
.claude
CLAUDE.md
